[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
jupyter = "*"
numpy = "*"
matplotlib = "*"
scipy = "*"
ipython = "*"
twine = "*"
pipenv-to-requirements = "*"
bumpversion = "*"
wheel = "*"

[packages]
blinkstick = "*"
colorutils = "*"
pyyaml = "*"
python-box = "*"
retry = "*"
click = "*"

[requires]
python_version = "3.7"
